{
  "compilerOptions": {
    "baseUrl": ".",
    "paths": {
      "@App": ["./App"],
      "@screens/*": ["src/screens/*"],
      "@components/*": ["src/components/*"],
      "@navigation/*": ["src/navigation/*"],
      "@context/*": ["src/context/*"]
    }
  }
}
