/* Basic Leaflet container styles */
.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-tile {
  width: 256px;
  height: 256px;
}

.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted;
}

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.leaflet-top {
  top: 0;
}

.leaflet-bottom {
  bottom: 0;
}

.leaflet-left {
  left: 0;
}

.leaflet-right {
  right: 0;
}

.leaflet-control-zoom,
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

.leaflet-bar a {
  background-color: #fff;
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}

.leaflet-popup-content-wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  max-width: 300px;
}
