/* frontend/public/leafletOverrides.css */
.leaflet-overlay-pane svg {
  -webkit-user-select: none;
  user-select: none;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; /* remove -ms-zoom */
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-drag: none; /* Not supported in Firefox */
}
